<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            #nameInput
            name="name"
            id="name"
            class="form-control"
            required
            ngModel>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            id="amount"
            class="form-control"
            required
            pattern="^[1-9]+[0-9]*$"
            ngModel>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="f.invalid" class="btn btn-success" type="submit">
            {{ editMode ? 'Edit' : 'Add' }}
          </button>
          <button [disabled]="!editMode" class="btn btn-danger" type="button" (click)="onDeleteIngredient()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">
            {{ editMode ? 'Cancel' : 'Clear List' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
